[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
ipykernel = "*"
boto3 = "*"

[dev-packages]
bandit = "*"
ipykernel = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.5"
